$left_margin: 0.8rem;

header{
	h1{
		// logo
		img{
			width: 100px;
			margin-right: $left_margin;
		}

		// header date text
		.date{
			color: #7696d2;
			margin-left: $left_margin;
		}
	
		// dash separator
		.separator{
			margin-left: $left_margin;
		}
	}
}